.header{
    height: 46px;
    background-color: #f5f5f5;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 46px;
}
.header-nav-sub{
    display: flex;
    align-items: center;
    position: relative;
}
.header-nav-sub-border {
    position: absolute;
    top: 50%;
    right: 58%;
    height: 20px;
    border-left: 1.5px solid #ddd;
    transform: translateY(-58%);
}
.header-nav-text{
    font-size: 1.4rem;
    color: #333;
}
.header-nav-sub-icon{
    font-size: 1.3rem;
}
.icon-mail{
    margin-right: 8px;
}
.header-nav-text1{
    margin-right: 24px;
}
.header-nav-text2{
    margin-left: 24px;
}
.header-nav-sub-link{
    margin-right: 24px;
}
.header-nav-sub-border2{
    position: absolute;
    top: 50%;
    right: 62%;
    height: 20px;
    border-left: 1.5px solid #ddd;
    transform: translateY(-58%);
}
.header-nav-sub-border3{
    position: absolute;
    top: 50%;
    right: 21%;
    height: 20px;
    border-left: 1.5px solid #ddd;
    transform: translateY(-58%);
}
.header-nav-sub-language {
    margin-left: 17px;
    margin-right: 43px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header-nav-sub-language-select{
    position: absolute;
    top: 120%;
    right: 0;
    opacity: 0;
    left: 0;
    background-color: #222;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all linear 0.2s;
    z-index: 1;
    visibility: hidden;
}
.header-nav-sub-language:hover .header-nav-sub-language-select{
    opacity: 1;
    top: 72%;
    visibility: visible;
} 
.header-nav-sub-language-select-item a{
    color: #fff;
    font-size: 1.4rem;
    line-height:2.2rem ;
    padding-left: 10px;
    display: block;
}
img.header-nav-sub-img {
    margin-right: 8px;
}
.header-nav-sub-icon-down{
    font-size: 1rem !important;
    margin-left: 10px;
}
.header-nav-sub-icon-user{
    margin-right: 8px;
}
.container-category-heading {
    background-color: var(--primary-color);
    color: #fff;
    padding-left: 38px;
    padding-right: 20px;
    height: 46px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container-category-heading-icon-menu{
    font-size: 1.6rem;
    line-height: 46px;
    margin-right: 15px;
}
.container-category-heading-title{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 46px;
}
.container-category-heading-icon-down{
    font-size: 1.2rem;
    line-height: 46px;
    margin-left: auto;
    transform: translateY(-2px);
}
.container-category-link {
    font-size: 1.5rem;
    color: #333;
    margin-left: 38px;
    display: block;
    line-height: 2.6;
}
.container-category-list{
    padding: 12px 0;
    border: 1px  solid #ddd;
    animation: ddd linear 0.5s;
    /* display: none;; */
    /* overflow: hidden; */
}
.container-category-input:checked ~ .container-category-list{
    display:none;
}
.container-content-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 36px;
}
.container-content-menu-nav{
    display: flex;
    align-items: center;
    padding-top: 32px;
}
.container-content-menu-icon{
    display: flex;
    align-items: center;
    padding-top: 28px ;
}
.container-content-menu-nav-link {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.container-content-menu-nav-link-active{
    color: var(--primary-color);
}
.container-content-menu-nav-item:hover .container-content-menu-nav-link {
    color: var(--primary-color);
}
.container-content-menu-nav-item{
    position: relative;
    margin-right: 54px;
}
.pages-select{
    position: absolute;
    background-color: #222;
    top: calc(130% + 20px);
    left: 0;
    opacity: 0;
    width: 180px;
    padding:6px 12px;
    transition: all linear 0.2s;
    visibility: hidden;
    z-index: 1;
}
.pages-select::before{
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: -10px;
}
.container-content-menu-nav-item:hover .pages-select{
    opacity: 1;
    top:130%;
    visibility: visible;
} 
.pages-select-link{
    color: #fff;
    display: block;
    font-size: 1.5rem;
    line-height: 2;
    letter-spacing: 1.5px;
}
.pages-select-link:hover{
    color: var(--primary-color);
}
.container-content-menu-icon-icon{
    font-size: 1.8rem;

}
.container-content-menu-icon-text{
    font-size: 1.4rem;
    color: #7d7f7d;
    margin-left: 10px;
    transform: translateY(2px);
}
.container-content-menu-icon-text span{
    color: #333;
    font-weight: 600;
}
.container-content-menu-sub-icon{
    position: relative;
    display: block;
    margin-right: 20px;
}
.container-content-menu-icon-qtn {
    text-align: center;
    position: absolute;
    top: -5px;
    right: -12px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    font-size: 0.9rem;
    width: 14px;
    font-weight: 800;
}
.container-category-logo {
    padding: 14px 0 18px;
}
.container-content-search{
    display: flex;
    align-items: center;
}
.container-content-search-search {
    border: 1px solid #ccc;
    height: 50px;
    display: flex;
    align-items: center;
    flex:1;
    position: relative;
}
.container-content-search-search-input {
    flex: 1;
    height: 100%;
    outline: none;
    font-size: 1.5rem;
    border: none;
    color: #757575;
    padding: 8px 18px;
}
.container-content-search-search-text {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 20px;
}
.container-content-search-search-icon {
    margin-left: 38px;
    margin-right: 15px;
    transform: translateY(-1px);
}
.container-content-search-search-border {
    position: absolute;
    top: 50%;
    left: 184px;
    border-left: 1px solid #ddd;
    height: 22px;
    transform: translateY(-52%);
}
.container-content-search-search-btn {
    background-color: var(--primary-color);
    border: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    padding: 16px 26px;
    transform: translateX(1px);
    cursor: pointer;
}
.container-content-search-call{
    margin-left: 42px;
    display: flex;
    align-items: center;
}
.container-content-search-call-number {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
}
.container-content-search-call-icon {
    font-size: 1.5rem;
    background-color: #eee;
    color: var(--primary-color);
    border-radius: 50%;
    padding: 17px;
}
.container-content-search-call-info {
    margin-left: 20px;
    line-height: 1.5;
}
.container-content-search-call-text {
    font-size: 1.4rem;
    color: #757575;
}
.container-content-brand{
    padding-top: 50%;
    background-image: url(/img/banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 28px;
    position: relative;
}
.container-content-brand-info{
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 75px;
}
.container-content-brand-info1 {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 12px;
}
.container-content-brand-info2 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.3;
}
.container-content-brand-info3 {
    font-size: 1.4rem;
    color: #757575;
    margin-top: 12px;
}
.container-content-brand-info-btn {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    padding: 11px 23px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 32px;
    cursor: pointer;
}
.container-category-select{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 282px;
    position: relative;
}
.container2{
    display: flex;
    flex-wrap: nowrap ;
    overflow-x: auto !important;

    position: relative;
}
.container2::-webkit-scrollbar{
    height: 10px;
    background-color: #ccc;
    border-radius: 10px;
}
.container2::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 10px;
}
.container-category-select-name {
    text-transform: uppercase;
    font-size: 1.8rem;
    background-color: #fff;
    position: absolute;
    bottom: 20px;
    padding: 12px 0;
    font-weight: 600;
    width: 220px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.container-category-select-btn-btn i{
    font-size: 1.4rem;
}
.container-category-select-btn-btn1{
    position: absolute;
    left: -27px;
    bottom: 50%;
    padding: 24px 5px;
    transform: translateY(50%);
    background-color: #fff;
    border: 1px solid #ccc;;
}
.container-category-select-btn-btn2 {
    position: absolute;
    right: -27px;
    bottom: 50%;
    padding: 24px 5px;
    transform: translateY(50%);
    background-color: #fff;
    border: 1px solid #ccc;
}
.featured-product-heading {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 800;
    margin-top: 80px;
    position: relative;
}
.featured-product-heading::after{
    content: "";
    display: block;
    position: absolute;
    top:calc(100% + 8px);
    width: 85px;
    height: 4px;
    background-color: var(--primary-color);
    left: 50%;
    transform: translateX(-50%);
}
.featured-product-list{
    text-align: center;
    margin-top: 46px;
}
.featured-product-item{
    font-size: 1.8rem;
    margin-right: 32px;
    display: inline-block;
    position: relative;
    color: #333;
    cursor: pointer;
}
.featured-product-item-active::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
}
.featured-product-category{
    background-size: cover;
    background-position: center center;
    height: 282px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}
.featured-product-category:hover .featured-product-category-icon{
    bottom: 25px;
}
.featured-product-category-icon{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom linear 0.3s;
    display: flex;

}

.featured-product-category-icon-1{
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 0px 8px;
    cursor: pointer;
    transform: rotate(0deg);
    transition:all linear 0.3s;
    -webkit-tap-highlight-color: transparent;
}
.featured-product-category-icon-1:hover{
    transform: rotate(360deg);
    background-color: var(--primary-color);
    color: #fff;
}
.featured-product-category-name {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 18px;
}
.featured-product-category-price {
    text-align: center;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 38px;
}
.featured-product-category-title{
    margin-top: 48px;
}
.container-category-tablet-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}
.container-category-tablet-nav{
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 285px;
    background-color: #fff;
    display: none;
    padding: 48px 24px;
}
.container-category-tablet-menu{
    display: none;;
}
.container-content-menu-icon-mobile{
    display: none;;
}
.main-home{
    position: fixed;
    z-index: 9;
    font-size: 3rem;
    bottom: 40px;
    right: 30px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    padding: 14px;
}
.container-content-menu-nav-item-border{
    position: absolute;
    top: 100%;
    height: 2px;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    animation: ccc linear 0.3s;
    display: none;
}
.container-content-menu-nav-item:hover .container-content-menu-nav-item-border{
    display: block;
}